{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/members/member-detail.css' %}" />
{% endblock %} 
{% block content %}
<section class="member-container">
  <div class="member-img">
    {% if member.gender == 'm' %}
        <img
          class= "logo-image"
          src="{% static 'images/pexels-anhleephoto-29439364.jpg' %}"
          alt="Pickleball player"
        />
    {% else %}
        <img
          class = "logo-image"
          src="{% static 'images/pexels-minh-khang-le-464812636-26501942.jpg' %}"
          alt="Pickleball player"
         />
    {% endif %}
  </div>
  <div class="member-details">
    <h1>{{ member.name }}</h1>
    {% if member.dupr >= 3.0 %}
    <p>A {{ member.age }} year old {{ member.dupr }} experienced player.</p>
    {% else %}
    <p>A {{ member.age }} year old beginner player.</p>
    {% endif %}
    <p>{{ cat.description }}</p>

    <div class="member-actions">
      <a href="{% url 'member-update' member.id %}" class="btn warn">Edit</a>
      <a href="{% url 'member-delete' member.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
{% endblock %}
