{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/members/member-index.css' %}"/>
{% endblock %} 
{% block content %}

<section class="page-header">
  <h1>Member List</h1>
</section>

<section class="card-container">
  {% for member in members %}
    <div class="card">
        <a href="{% url 'member-detail' member.id %}">
        <div class="card-content">
          <div class="card-img-container">
            {% if member.gender == 'm' %}
              <img
                class= "logo-image"
                src="{% static 'images/pexels-anhleephoto-29439364.jpg' %}"
                alt="Pickleball player"
              />
            {% else %}
              <img
                class = "logo-image"
                src="{% static 'images/pexels-minh-khang-le-464812636-26501942.jpg' %}"
                alt="Pickleball player"
              />
            {% endif %}
          </div>
          <h2 class="card-title">{{ member.name }}</h2>
          {% if member.dupr >= 3.0 %}
          <p>A {{ member.age }} year old {{ member.dupr }} experienced player.</p>
          {% else %}
          <p>A {{ member.age }} year old beginner player.</p>
          {% endif %}
        </div>
      </a>
    </div>
  {% endfor %}
</section>

{% endblock %}
